@import "../../vars.css";

.slideIn {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slideIn.visible {
  opacity: 1;
  transform: translateX(0);
}


.container {
    position: relative;
    background-color: var(--ivanna-purple);
    width: 100%;
    padding-bottom: 5%;
}

.horizontalScroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.title {
    color: var(--Deep-Mauve, #5D536B);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "BlackHanSans";
    font-size: 96px;
    margin-left: 3%;

}

.grid {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    margin-right: 3%;
    gap: 10px;
}

@media screen and (max-width: 830px){

    .container {
        position: relative;
        background-color: var(--ivanna-purple);
        
    }

    .horizontalScroll {
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .title {
        font-size: 46px;
    }
    
    .grid {
        display: flex;
        flex-direction: column;
    }
}