@import "../../vars.css";

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 100%;
}

.left {
    display: flex;
    flex-direction: column;
}

.left h3 {
    color: #9784B6;
    text-align: left;
    font-family: "Abril Fatface";
    font-size: 26px;
}

.model {
    background: var(--deep-mauve);
    width: 95vw;
    max-width: 1400px;
    max-height: 90vh;
    overflow-y: auto;
    padding: 2rem;
    border-radius: 5px;
    position: relative;
}

.close {
    position: relative;
    align-self: flex-end;
    display: flex;
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.close span {
    position: absolute;
    height: 3px;
    width: 100%;
    display: flex;
    align-self: flex-end;
    background: var(--ash-lavender);
    left: 0;
}

.close span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg);
    
}

.close span:nth-child(2) {
    top: 50%;
    transform: rotate(45deg);
}


.preview img,
.preview iframe,
.preview video {
    width: 300px;
    height: 500px;
    height: auto;
    border: 3px solid var(--Ash-Lavender, #A49CA7);
    background: url(<path-to-image>) lightgray 0.416px -23.283px / 100% 115.348% no-repeat;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    z-index: 33;
}

.links a{
    color: #FFF;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-family: "AbrilFatface";
    font-size: 24px;
    border-radius: 5px;
    border: 3px solid var(--Ivanna-Purple, #9784B6);
    background: rgba(151, 132, 182, 0.46);
    padding: 5px;
}

.language {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 3%;
}

.language p {
    color: #FFF;
    text-align: center;
    font-family: "Abril Fatface";
    font-size: 16px;
    border-radius: 5px;
    border: 3px solid var(--Ivanna-Purple, #9784B6);
    background: rgba(151, 132, 182, 0.46);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    max-height: fit-content;
    padding: 10px;
}


.technology {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tech {
    color: #FFF;
    text-align: center;
    font-family: "Abril Fatface";
    font-size: 16px;
    letter-spacing: 0.48px;
    vertical-align: center;
    text-transform: uppercase;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid var(--Ivanna-Purple, #9784B6);
    background: rgba(151, 132, 182, 0.46);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    max-height: fit-content;
}

.right h3 {
    color: var(--Charcoal-Black, #2B2B2B);
    font-family: "AbrilFatface";
    font-size: 36px;
}

.right p {
    color: var(--Charcoal-Black, #2B2B2B);
    font-family: "Abril Fatface";
    font-size: 24px;
}

.topCircle {
    position: absolute;
    width: 120px;
    height: 120px;
    background: rgba(43, 43, 43, 0.37);

    top: 0;
    right: 0;

    border-bottom-left-radius: 100%;
}

.bottomCircle {
    position: absolute;
    width: 160px;
    height: 320px;
    background: rgba(43, 43, 43, 0.37);

    left: 0;
    top: 100%;
    transform: translateY(-50%);

    border-top-right-radius: 160px;
    border-bottom-right-radius: 160px;
}

@media screen and (max-width: 925px) {
    .content {
        flex-direction: column;
    }

    .left {
        align-items: center;
    }
}