@import "../../vars.css";

.typingText {
  word-wrap: break-word;
  
}

.cursor {
    color: #FFF;
    animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.container {
    position: relative;
    padding-top: 90px;
    padding-bottom: 70px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: auto;
}

.content {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.desktop {
    flex: 1;
    position: relative;
    display: flex;
    /* justify-content: center; */
    /* flex-direction: row; */
    /* gap: 10%; */
}

.app {
    width: 70px;
    height: auto;
}

.folderIcon {
    width: 110px;
    height: auto;
    margin-left: -15%;
}

.leftApps {
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    gap: 40px
}

.rightApps {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 15%;
}


.Terminals {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.terminalsInner {
    position: relative;
    width: 100%;
    height: 100%;
}

.mainStyle {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.insideTermial {
    position: absolute;
    top: 45%;
    padding-left: 5px;
    width: 80%;
    height: 80%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.textStack {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textStack p {
    color: #FFF;
    font-family: "Abril Fatface";
    font-size: 20px;
    z-index: 5;
}

.textStack h1 {
    color: #FFF;
    font-family: "BlackHanSans";
    font-size: 50px;
    z-index: 5;
}

.textStack {
  /* text-align: center; */
  color: #FFF;
  z-index: 3;
}

.heroPFP {
    width: 150px;
    height: 150px;
    margin-left: 3%;
    z-index: 3;
}


.Back {
    position: absolute;

}

.copiedToast {
position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--ivanna-purple);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease-out forwards, slideOut 0.5s ease-in 1.5s forwards;
  z-index: 1000;
  font-weight: 500;
}

@keyframes slideIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
    from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100px);
    opacity: 0;
  }
}


@media screen and (max-width: 1000px) {
    .desktop {
        display: none;
    }
    
    .heroPFP {
        width: 130px;
        height: 130px;
    }

    .textStack p {
    color: #FFF;
    font-family: "Abril Fatface";
    font-size: 15px;
    z-index: 5;
    }

    .textStack h1 {
        color: #FFF;
        font-family: "BlackHanSans";
        font-size: 30px;
        z-index: 5;
    }
}


@media screen and (max-width: 730px) {

    .heroPFP {
        width: 100px;
        height: 100px;
    }

    .insideTermial {
        gap: 5px
    }

        .textStack p {
    color: #FFF;
    font-family: "Abril Fatface";
    font-size: 10px;
    z-index: 5;
    }

    .textStack h1 {
        color: #FFF;
        font-family: "BlackHanSans";
        font-size: 20px;
        z-index: 5;
    }
}