@import "../../vars.css";

.copiedToast {
position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--ivanna-purple);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease-out forwards, slideOut 0.5s ease-in 1.5s forwards;
  z-index: 1000;
  font-weight: 500;
}

@keyframes slideIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
    from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100px);
    opacity: 0;
  }
}

.container {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.container h3 {
    color: #FFF;
    font-family: Sagfield;
    font-size: 24px;
}

.logos {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-end;
}

.logos img {
    flex-direction: row;
    width: 33px;
    height: 33px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.logos img:hover {
    transform: scale(1.1);
}

