:root {
    /*Color Styles*/
    --charcoal-Black: #2b2b2b;
    --ash-lavender: #a49ca7;
    --deep-mauve: #5D536B;
    --ivanna-purple: #9784B6;

    /*Fonts*/
    --sans: "BlackHanSans";
    --abril: "abrilFatFace";

    /*Text Styles*/
    
}